##### JSON(Javascript Object Notation == Python Dictionary)

In [1]:
import json

##### 데이터 딕셔너리를 생성

In [2]:
data = {
    "name": "왕눈이",  # 이름 키에 "왕눈이" 값을 설정합니다.
    "age": 30,        # 나이 키에 30 값을 설정합니다.
    "city": "서울"    # 도시 키에 "서울" 값을 설정합니다.
}

# data의 타입을 출력합니다. 이 경우 딕셔너리 타입(<class 'dict'>)이 출력됩니다.
print(type(data))

# data 딕셔너리에서 'name' 키에 해당하는 값을 출력합니다. 이 경우 "왕눈이"가 출력됩니다.
print(data['name'])

<class 'dict'>
왕눈이

In [3]:
data = '''{
    "name": "왕눈이",
    "age": 30,
    "city": "서울"
}'''

print(type(data))
# print(data['name']) # X

<class 'str'>

##### JSON 문자열을 파이썬 딕셔너리로 변환

In [4]:
# str -> dict
data_dict = json.loads(data)
# 변환된 딕셔너리 출력
print(type(data_dict))
print(data_dict)
print(data_dict['name'])

<class 'dict'>
{'name': '왕눈이', 'age': 30, 'city': '서울'}
왕눈이

In [5]:
# dict -> str
data_str = json.dumps(data_dict)
print(type(data_str))
print(data_str)

<class 'str'>
{"name": "\uc655\ub208\uc774", "age": 30, "city": "\uc11c\uc6b8"}

In [9]:
# list, dictionary 사용
data_list = [
    {
        "name": "John",
        "age": 30,
        "city": "New York"
    },
    {
        "name": "Alice",
        "age": 25,
        "city": "San Francisco"
    },
    {
        "name": "Bob",
        "age": 35,
        "city": "Los Angeles"
    }
]

In [10]:
print(type(data_list)) # list
data_str = json.dumps(data_list)
print(data_str)
print(type(data_str))

<class 'list'>
[{"name": "John", "age": 30, "city": "New York"}, {"name": "Alice", "age": 25, "city": "San Francisco"}, {"name": "Bob", "age": 35, "city": "Los Angeles"}]
<class 'str'>

In [11]:
# str -> dict, list
data_json = json.loads(data_str)
print(type(data_json)) # json 객체 배열 표현 가능
print(data_json) 
# 첫 번째  dict가져오기
dict_json_0 = data_json[0]
print(dict_json_0)

# 첫 번째 dict에서 name 확인
print(dict_json_0['name'])

# 반복문 사용
for item in data_json:
    print(item)

<class 'list'>
[{'name': 'John', 'age': 30, 'city': 'New York'}, {'name': 'Alice', 'age': 25, 'city': 'San Francisco'}, {'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}]
{'name': 'John', 'age': 30, 'city': 'New York'}
John
{'name': 'John', 'age': 30, 'city': 'New York'}
{'name': 'Alice', 'age': 25, 'city': 'San Francisco'}
{'name': 'Bob', 'age': 35, 'city': 'Los Angeles'}

In [12]:
# dict 내부에 dict 생성
data = {
    "name": "John",
    "age": 30,
    "address": {
        "street": "123 Main St",
        "city": "New York"
    },
    "hobbies": ["reading", "painting", "traveling"]
}

# dict -> 문자열
json_string = json.dumps(data)
print(type(json_string))
print(json_string)
# print(json_string["name"]) # 문자열임으로 변수 추출 불가능

<class 'str'>
{"name": "John", "age": 30, "address": {"street": "123 Main St", "city": "New York"}, "hobbies": ["reading", "painting", "traveling"]}

In [13]:
# str -> json,dict
json_data = json.loads(json_string)

# 'address' 객체에서 'city' 값을 추출하여 변수에 저장
city_value = json_data['address']['city']
# 'city_value' 변수의 값을 출력
print(city_value)

city_value = json_data['hobbies'][1]
print(city_value)

New York
painting

아래 문장을 읽고 긍정이면 1, 부정이면 0을 파악해줘.

[문장]
오늘은 즐거운 토요일이다. 저녁에 맥주를 마시면서 즐거운 시간을 보내야겠다.

[출력 형식]
{
  "res": 긍정 이나 부정 값
}